* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #696969;
}

.wrapper {
  height: 350px;
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper > input {
  display: none;
}

.slider {
  background-color: #ddd;
  height: inherit;
  width: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.wrapper .slides {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1.5s;
}

.slides > .description {
  color: black;
  font-size: 1.5rem;
  margin-top: 15px;
  opacity: 0;
  transition: 1.5s;
  position: absolute;
  top: 345px;
  z-index: -1;
}

.slides.slide1 {
  background-image: url(../images/fjjx6mnbpvroi6x57xh3u78afdfwci30.jpg);
  z-index: 0;
}

.slides.slide2 {
  background-image: url(../images/laboz5w6vq5w2skqa26k8x2ae9h264pz.jpg);
  z-index: 0;
}

.slides.slide3 {
  background-image: url(../images/fff05c5c52a9fad747be34176a6825dd.jpg);
  z-index: 0;
}

.slides.slide4 {
  background-image: url(../images/361362345072.jpg);
  z-index: 0;
}

.slides.slide5 {
  background-image: url(../images/20152402-memes-post.jpg);
  z-index: 0;
}

.wrapper .inputs_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputs_wrapper > label {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
}

.inputs_wrapper > label:active::after {
  border: 1px solid red;
}

.inputs_wrapper > label:hover::after {
  box-shadow: 0 0 0 2px white, 0 0 0 4px;
  transition: 1s;
}

.inputs_wrapper > label::after {
  content: " ";
  border-radius: 50%;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.inputs_wrapper > label::before {
  background-color: #ddd;
  content: " ";
  display: none;
  height: 7px;
  position: absolute;
  width: 7px;
  top: 20px;
  left: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#slide1:checked ~ .inputs_wrapper > .slide1:before,
#slide2:checked ~ .inputs_wrapper > .slide2:before,
#slide3:checked ~ .inputs_wrapper > .slide3:before,
#slide4:checked ~ .inputs_wrapper > .slide4:before,
#slide5:checked ~ .inputs_wrapper > .slide5:before {
  display: block;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  z-index: 1;
  opacity: 1;
}

#slide1:checked ~ .slider > .slide1 .description,
#slide2:checked ~ .slider > .slide2 .description,
#slide3:checked ~ .slider > .slide3 .description,
#slide4:checked ~ .slider > .slide4 .description,
#slide5:checked ~ .slider > .slide5 .description {
  opacity: 1;
}

@media (max-width: 810px) {
  .wrapper {
    height: 350px;
    width: 90vw;
  }
}

@media (max-width: 550px) {
  .slides > .description {
    top: 360px;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .wrapper .inputs_wrapper {
    justify-content: center;
    margin-top: 7vh;
  }

  .wrapper .slides {
    background-size: cover;
    background-position: 30%;
  }
}

@media (max-width: 500px) {
  .wrapper .slides {
    background-size: cover;
    background-position: 50%;
  }
}

@media (max-width: 320px) {
  .wrapper .slides {
    background-size: cover;
    background-position: 53%;
  }
}
